@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 25% 98%;
    --foreground: 0 0% 12%;

    --card: 48 13% 94%;
    --card-foreground: 0 0% 12%;

    --popover: 48 13% 94%;
    --popover-foreground: 0 0% 12%;

    --primary: 180 50% 36%;
    --primary-foreground: 0 0% 98%;

    --secondary: 48 13% 94%;
    --secondary-foreground: 0 0% 12%;

    --muted: 48 13% 94%;
    --muted-foreground: 0 0% 36%;

    --accent: 25 23% 45%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 51%;
    --destructive-foreground: 0 0% 98%;

    --border: 48 8% 87%;
    --input: 48 8% 87%;
    --ring: 180 50% 36%;
  }

  .dark {
    --background: 224 10% 4%;
    --foreground: 210 20% 98%;
    --card: 224 10% 8%;
    --card-foreground: 210 20% 98%;
    --popover: 224 10% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 48 96% 51%;
    --primary-foreground: 224 10% 4%;
    --secondary: 215 14% 34%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 14% 34%;
    --muted-foreground: 215 20% 65%;
    --accent: 215 14% 34%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 51%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 14% 34%;
    --input: 215 14% 34%;
    --ring: 48 96% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply min-h-screen;
  }
}

@layer utilities {
  .animate-loader {
    animation: loader-animation 0.5s ease-out forwards;
  }

  @keyframes loader-animation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}
