@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 64% 27%;
    --foreground: 0 0% 98%;

    --card: 240 64% 32%;
    --card-foreground: 0 0% 98%;

    --popover: 240 64% 32%;
    --popover-foreground: 0 0% 98%;

    --primary: 51 100% 50%;
    --primary-foreground: 240 64% 10%;

    --secondary: 240 64% 32%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 64% 32%;
    --muted-foreground: 0 0% 70%;

    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 64% 35%;
    --input: 240 64% 35%;
    --ring: 180 100% 35%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 64% 27%;
    --foreground: 0 0% 98%;

    --card: 240 64% 32%;
    --card-foreground: 0 0% 98%;

    --popover: 240 64% 32%;
    --popover-foreground: 0 0% 98%;

    --primary: 51 100% 50%;
    --primary-foreground: 240 64% 10%;

    --secondary: 240 64% 32%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 64% 32%;
    --muted-foreground: 0 0% 70%;

    --accent: 180 100% 25%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 64% 35%;
    --input: 240 64% 35%;
    --ring: 180 100% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply min-h-screen;
  }
}
